/* PARTE GENERALE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 30px;
    background-color: lightyellow;//DA CANCELLARE

}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

h3 {
    color: black;
}

.container {
    width: 85%;
    min-height: 800px;
    min-width: 1100px;
    margin: 0 auto;
    background-color: #EAEAEA;
}

.blocco-sx {
    width: 40%;
    height: 800px;
}

.blocco-dx {
    width: 60%;
    height: 800px;
}

.icona {
    font-size: 25px;
    color: #AEAEAE;
}

/* BLOCCO SINISTRO */
.testatina {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #EAEAEA;
}

.testatina i {
    margin-left: 10px;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    background-color: tomato;//DA CANCELLARE
}

.avatar img {
    width: 100%;
    object-fit: cover;
}

.status {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #8EDAFC;
    padding: 7px 10px;
}

.cont-icona {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: white;
    border-radius: 50%;
}

.status i {
    color: #8EDAFC;
}

.status a {
    color: #AEAEAE;
}

.ricerca {
    position: relative;
    height: 50px;
    background-color: #EAEAEA;
    padding: 7px 10px;
}

.ricerca input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.ricerca i {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    color: #AEAEAE;
}

.area-mess {
    height: calc(100% - 210px);
    background-color: ;
    overflow-y: scroll;
}

.blocco-mess {
    color: #AEAEAE;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.testo-utente {
    width: 80%;
    margin-left: 15px;
}

.orario {
    font-size: 12px;
    justify-content: flex-end;

}

/* BLOCCO DESTRO */

.text-box {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    height: calc(100% - 160px);
    background-image: url('https://i.pinimg.com/originals/18/a0/e0/18a0e0909ca4c68fbbfe4b8c746102eb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
}

.testata-dx .test-sx {
    display: flex;
    align-items: center;
}

.testo-status {
    margin-left: 15px;
}

.barra-mess {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #EAEAEA;
    padding: 10px 30px;
}

.barra-mess input {
    width: 85%;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;

}










/* STILE TEMPLATE E MESSAGGI */

.messaggio {
    min-height: 70px;
    width: 200px;
    border-radius: 20px;
    margin: 15px;
    padding: 15px;
}

.ora-mess {
    color: #AEAEAE;
    text-align: right;

}

.mandato {
    align-self: flex-end;
    background-color: lightgreen;
}

.ricevuto {
    align-self: flex-start;
    background-color: white;
}
