/* PARTE GENERALE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 30px;
    background-color: lightyellow;//DA CANCELLARE

}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

h2 {
    color: black;
}

.container {
    width: 85%;
    min-height: 800px;
    min-width: 1100px;
    margin: 0 auto;
    background-color: lightgray;
}

.blocco-sx {
    width: 40%;
    height: 800px;
}

.blocco-dx {
    width: 60%;
    height: 800px;
}

.icona {
    font-size: 25px;
    margin-left: 10px;
    color: darkgray;
}

/* BLOCCO SINISTRO */
.testatina {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightgray;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    background-color: tomato;//DA CANCELLARE
}

.avatar img {
    width: 100%;
    object-fit: cover;
}

.status {
    height: 80px;
    background-color: black;
}

.ricerca {
    position: relative;
    height: 50px;
    background-color: lightgray;
    padding: 7px 10px;
}

.ricerca input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.ricerca i {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    color: darkgray;
}

.area-mess {
    height: calc(100% - 210px);
    background-color: ;
    overflow-y: scroll;
}

.blocco-mess {
    color: darkgray;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.testo-utente {
    margin-left: 15px;
}

.orario {
    font-size: 12px;
    justify-content: flex-end;

}

/* BLOCCO DESTRO */

.text-box {
    height: calc(100% - 160px);
    background-image: url('https://i.pinimg.com/originals/18/a0/e0/18a0e0909ca4c68fbbfe4b8c746102eb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.barra-mess {
    height: 80px;
    background-color: tomato;//DA CANCELLARE
}
